.resource {
    display: flex;
    flex-flow: row wrap;
    md-card {
        width: 30%;
        img.pull-right {
            float: right;
            width: 100px;
        }
    }
}

.resource md-card img.pull-right {
    float: right;
    width: 250px;
}